<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://coredeiv.github.io/bootstraplus/css/styles.min.css">
  <link rel="stylesheet" href="css/monokai-sublime.css">
  <title>Landing 01 | Iframe | HTML | Sniptrap</title>
</head>
<body>
<pre><code class="html" title="Structure HTML Model Landing_01">&lt;section id="landing_02"&gt;
    
    &lt;!-- Main Page --&gt;
    &lt;div class="container-fluid"&gt;
      &lt;div class="row"&gt;
        &lt;div class="col-12"&gt;
          
          &lt;div class="row"&gt;
            &lt;!-- Slider images --&gt;
            &lt;div class="col-md-5 slider-birds m-0 p-0"&gt;
              &lt;div id="carouselExampleControls" class="carousel slide" data-ride="carousel"&gt;
                &lt;div class="carousel-inner"&gt;
                  &lt;div class="carousel-item active"&gt;
                    &lt;img src="media/img/img-01.jpg" alt="img-01" class="img-fluid"&gt;
                  &lt;/div&gt;
                  &lt;div class="carousel-item"&gt;
                    &lt;img src="media/img/img-02.jpg" alt="img-02" class="img-fluid"&gt;
                  &lt;/div&gt;
                  &lt;div class="carousel-item"&gt;
                    &lt;img src="media/img/img-03.jpg" alt="img-03" class="img-fluid"&gt;
                  &lt;/div&gt;
                  &lt;div class="carousel-item"&gt;
                    &lt;img src="media/img/img-04.jpg" alt="img-04" class="img-fluid"&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
                &lt;div class="row controls-carousel-birds"&gt;
                  &lt;div class="col-12"&gt;
                    &lt;div class="row"&gt;
                      &lt;div class="offset-4 col-4 control-bird"&gt;
                        &lt;a class="" href="#carouselExampleControls" role="button" data-slide="prev"&gt;
                          &lt;i class="fas fa-long-arrow-alt-left"&gt;&lt;/i&gt;
                        &lt;/a&gt;
                      &lt;/div&gt;
                      &lt;div class="col-4 control-bird"&gt;
                        &lt;a class="" href="#carouselExampleControls" role="button" data-slide="next"&gt;
                          &lt;i class="fas fa-long-arrow-alt-right"&gt;&lt;/i&gt;
                        &lt;/a&gt;
                      &lt;/div&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
            &lt;!-- Main Info --&gt;
            &lt;div class="col-md-7 min-vh-100"&gt;
              &lt;!-- top-content --&gt;
              &lt;div class="row bg-light h-50 d-flex ai-fe pb-4"&gt;
                &lt;div class="col-md-6 offset-md-3"&gt;
                  &lt;div class="separator-hor"&gt;&lt;/div&gt;
                  &lt;h2 class="pb-3"&gt;BIRD WATCHING&lt;/h2&gt;
                  &lt;p&gt;Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta modi inventore harum obcaecati unde? Aliquam.&lt;/p&gt;
                &lt;/div&gt;
              &lt;/div&gt;
              &lt;!-- bottom-content --&gt;
              &lt;div class="row bg-white h-50"&gt;
                &lt;div class="col-md-6 offset-md-3 pt-5 pb-5"&gt;
                  &lt;a href="#" class="btn btn-success text-uppercase"&gt;learn more&lt;/a&gt;
                  &lt;div class="ls-none pt-3"&gt;
                    &lt;li class="pt-4 d-flex jc-sb"&gt;
                      &lt;div class="cont-link"&gt;
                        &lt;a href="#" class="td-none"&gt;ABOUT&lt;/a&gt;
                        &lt;div class="underline"&gt;&lt;/div&gt;              
                      &lt;/div&gt;
                      &lt;div class="cont-sm"&gt;
                        &lt;a href="#"&gt;
                          &lt;i class="fa fa-facebook"&gt;&lt;/i&gt;
                        &lt;/a&gt;
                      &lt;/div&gt;
                    &lt;/li&gt;
                    &lt;li class="pt-4 d-flex jc-sb"&gt;
                      &lt;div class="cont-link"&gt;
                        &lt;a href="#" class="td-none"&gt;GALLERY&lt;/a&gt;
                        &lt;div class="underline"&gt;&lt;/div&gt;              
                      &lt;/div&gt;
                      &lt;div class="cont-sm"&gt;
                        &lt;a href="#"&gt;
                          &lt;i class="fa fa-twitter"&gt;&lt;/i&gt;
                        &lt;/a&gt;
                      &lt;/div&gt;
                    &lt;/li&gt;
                    &lt;li class="pt-4 d-flex jc-sb"&gt;
                      &lt;div class="cont-link"&gt;
                        &lt;a href="#" class="td-none"&gt;CONTACT&lt;/a&gt;
                        &lt;div class="underline"&gt;&lt;/div&gt;              
                      &lt;/div&gt;
                      &lt;div class="cont-sm"&gt;
                        &lt;a href="#"&gt;
                          &lt;i class="fa fa-pinterest"&gt;&lt;/i&gt;
                        &lt;/a&gt;
                      &lt;/div&gt;
                    &lt;/li&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;

          &lt;/div&gt;
          
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    
  &lt;/section&gt;</code></pre>
  <script src="js/highlight.pack.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', (event) => {
      document.querySelectorAll('pre code').forEach((block) => {
        hljs.highlightBlock(block);
      });
    });
  </script>
</body>
</html>