<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://coredeiv.github.io/bootstraplus/css/styles.min.css">
  <link rel="stylesheet" href="css/monokai-sublime.css">
  <title>Landing 01 | Iframe | HTML | Sniptrap</title>
</head>
<body>
<pre><code class="html" title="Structure HTML Model Landing_01">&lt;section id="landing_01" class="overflow-auto"&gt;
  &lt;div class="container-fluid min-vw-100"&gt;
    &lt;div class="row"&gt;
      &lt;div class="col-12"&gt;              
        &lt;div class="row"&gt;
          &lt;div class="col-md-5 px-0 bg-size-cover bg-rep-norep min-vh-100 container__left" style="background-image: linear-gradient(90deg, rgba(255, 104, 91, .6), rgba(0, 0, 0, .4), rgba(255, 104, 91, .6)), url('media/img/bg-landing-left.png');"&gt;
            &lt;!-- Logo --&gt;
            &lt;div id="navbar-logo" class="position-relative"&gt;
              &lt;nav class="navbar navbar-expand-lg navbar-light fixed-top col-md-5"&gt;
                &lt;a class="navbar-brand" href="index.html"&gt;
                  &lt;img src="media/icon/logo.png" alt="logo" title="Chose Chicago" class="img-fluid" style="height: 3rem;"&gt;
                &lt;/a&gt;
              &lt;/nav&gt;
            &lt;/div&gt;
            &lt;!-- Content --&gt;
            &lt;div id="content-left" class="main-content"&gt;
              &lt;div class="container-fluid"&gt;
                &lt;div class="row pt-5"&gt;
                  &lt;div class="offset-1 col-10 w-100 h-100 content__text--left"&gt;
                    &lt;p class="text-white display-3 font-weight-bold"&gt;
                      &lt;sup&gt;
                        &lt;img src="media/img/left-quote.png" alt="" class="img-fluid w-20 px-3 float-left"&gt;
                        IT'S MORE THAN MUSIC TO US
                        &lt;img src="media/img/right-quote.png" alt="" class="img-fluid w-20 px-3 float-right"&gt;
                      &lt;/sup&gt;
                    &lt;/p&gt;
                    &lt;p class="text-white font-weight-bold"&gt;Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis itaque reprehenderit aperiam voluptas neque fuga recusandae sunt necessitatibus explicabo officia.&lt;/p c&gt;
                  &lt;/div&gt;
                  &lt;div class="offset-1 col-10 w-100 h-100 content__video"&gt;
                    &lt;a href="#" class="td-none d-flex align-items-center"&gt;
                      &lt;i class="far fa-play-circle text-white fz-3rem"&gt;&lt;/i&gt;
                      &lt;span class="text-white px-2 font-weight-bold"&gt;Watch Video&lt;/span&gt;
                    &lt;/a&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
                &lt;div class="row mt-5 bg-main"&gt;
                  &lt;div class="offset-1 col-10 d-flex jc-evenly p-2"&gt;
                    &lt;a href="#" class="td-none text-white p-1"&gt;&lt;i class="fa fa-facebook" aria-hidden="true"&gt;&lt;/i&gt;&lt;/a&gt;
                    &lt;a href="#" class="td-none text-white p-1"&gt;&lt;i class="fa fa-twitter" aria-hidden="true"&gt;&lt;/i&gt;&lt;/a&gt;
                    &lt;a href="#" class="td-none text-white p-1"&gt;&lt;i class="fa fa-youtube-play" aria-hidden="true"&gt;&lt;/i&gt;&lt;/a&gt;
                    &lt;a href="#" class="td-none text-white p-1"&gt;&lt;i class="fa fa-instagram" aria-hidden="true"&gt;&lt;/i&gt;&lt;/a&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="col-md-7 bg-size-cover bg-rep-norep container__right" style="background-image: linear-gradient(90deg, rgba(255,255,255,.97), rgba(255,255,255,.97)), url('media/img/bg-landing-right.png');"&gt;
            &lt;!-- Menu de la derecha --&gt;
            &lt;div id="navbar-menu" class="position-relative"&gt;
              &lt;nav class="navbar navbar-expand-lg navbar-light bg-sm-light fixed-top offset-md-5 col-md-7 float-right"&gt;
                &lt;!-- Hamburger-icon --&gt;
                &lt;button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"&gt;
                  &lt;span class="navbar-toggler-icon"&gt;&lt;/span&gt;
                &lt;/button&gt;
                &lt;!-- Menu --&gt;
                &lt;div class="collapse navbar-collapse" id="navbarSupportedContent"&gt;
                  &lt;ul class="navbar-nav ml-auto"&gt;
                    &lt;li class="nav-item"&gt;
                      &lt;a class="nav-link" href="#"&gt;Things to do&lt;/a&gt;
                    &lt;/li&gt;
                    &lt;li class="nav-item"&gt;
                      &lt;a class="nav-link" href="#"&gt;Plan Your Trip&lt;/a&gt;
                    &lt;/li&gt;
                    &lt;li class="nav-item"&gt;
                      &lt;a class="nav-link" href="#"&gt;Book Your Trip&lt;/a&gt;
                    &lt;/li&gt;
                    &lt;li class="nav-item active"&gt;
                      &lt;a class="nav-link" href="www.google.com"&gt;Explore&lt;span class="sr-only"&gt;(current)&lt;/span&gt;&lt;/a&gt;
                    &lt;/li&gt;
                  &lt;/ul&gt;
                &lt;/div&gt;
              &lt;/nav&gt;
            &lt;/div&gt;
            &lt;!-- Right Content --&gt;
            &lt;div id="content-right" class="main-content pb-5"&gt;
              &lt;div class="container-fluid"&gt;
                &lt;div class="row"&gt;
                  &lt;div class="offset-md-1 col-md-10 w-100 h-100 content__text--right py-5"&gt;
                    &lt;h1 class="display-4 font-weight-normal"&gt;Chicago Jazz Festival&lt;/h1&gt;
                    &lt;p class="text-justify"&gt;Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae nulla id officia doloribus ullam ab, soluta, porro maiores non optio nam numquam enim dolore quasi vitae libero. Cumque minus sequi animi non accusamus expedita minima repellat! Aspernatur cupiditate, eveniet consequatur similique esse fugit, provident voluptatibus numquam suscipit pariatur dicta mollitia?&lt;/p&gt;
                    &lt;a href="#" class="btn btn-main text-white"&gt;Learn More&lt;/a&gt;
                  &lt;/div&gt;
                  &lt;div class="container py-2"&gt;
                    &lt;div class="row"&gt;
                      &lt;div class="offset-1 col-10"&gt;
                        &lt;div class="row"&gt;
                          &lt;div class="col-md-3 border-dark border-right"&gt;
                            &lt;p class="pt-3"&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit.&lt;/p&gt;
                          &lt;/div&gt;
                          &lt;div class="col-md-8"&gt;
                            &lt;div id="landing_01--slider" class="pl-3 carousel slide" data-ride="carousel"&gt;
                              &lt;div class="carousel-inner"&gt;
                                &lt;div class="carousel-item active"&gt;
                                  &lt;div class="row"&gt;
                                    &lt;div class="col-6 pt-1"&gt;
                                      &lt;img src="media/img/img-slide-1.png" alt="" class="img img-fluid of-cover"&gt;
                                    &lt;/div&gt;
                                    &lt;div class="col-6 pt-1"&gt;
                                      &lt;img src="media/img/img-slide-2.png" alt="" class="img img-fluid of-cover"&gt;
                                    &lt;/div&gt;
                                  &lt;/div&gt;
                                &lt;/div&gt;
                                &lt;div class="carousel-item"&gt;
                                  &lt;div class="row"&gt;
                                    &lt;div class="col-6 pt-1"&gt;
                                      &lt;img src="media/img/img-slide-3.png" alt="" class="img img-fluid of-cover"&gt;
                                    &lt;/div&gt;
                                    &lt;div class="col-6 pt-1"&gt;
                                      &lt;img src="media/img/img-slide-4.png" alt="" class="img img-fluid of-cover"&gt;
                                    &lt;/div&gt;
                                  &lt;/div&gt;
                                &lt;/div&gt;
                              &lt;/div&gt;
                            &lt;/div&gt;
                          &lt;/div&gt;
                          &lt;div class="col-1 btn__carousel"&gt;
                            &lt;a class="btn btn-main" href="#landing_01--slider" role="button" data-slide="next"&gt;
                              &lt;i class="fas fa-chevron-right text-white"&gt;&lt;/i&gt;
                            &lt;/a&gt;
                          &lt;/div&gt;
                        &lt;/div&gt;
                      &lt;/div&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;  
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/section&gt;</code></pre>
  <script src="js/highlight.pack.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', (event) => {
      document.querySelectorAll('pre code').forEach((block) => {
        hljs.highlightBlock(block);
      });
    });
  </script>
</body>
</html>