<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://coredeiv.github.io/bootstraplus/css/styles.min.css">
  <link rel="stylesheet" href="css/monokai-sublime.css">
  <title>Landing 01 | Iframe | HTML | Sniptrap</title>
</head>
<body>
<pre><code class="html" title="Structure HTML Model Landing_01">&lt;section id="product_01"&gt;
  &lt;div class="container-fluid"&gt;
    &lt;div class="row"&gt;
      &lt;div class="col-md-10 m-auto"&gt;
        &lt;div class="row"&gt;
          &lt;div class="col-md-3"&gt;
            &lt;div class="py-35 border bg-size-cover bg-pos-center bg-rep-norep text-center rounded" style="background-image: url(https://images.unsplash.com/photo-1532298229144-0ec0c57515c7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=708&q=80);"&gt;
              &lt;h3 class="text-white"&gt;Lorem, ipsum.&lt;/h3&gt;
              &lt;p class="text-white"&gt;Lorem ipsum dolor sit amet.&lt;/p&gt;
            &lt;/div&gt;
            &lt;div class="btn-group my-3 w-100"&gt;
              &lt;a href="#" class="btn btn-elegant btn-block btn-rounded-40 text-uppercase ls-2 text-bold"&gt;Button&lt;/a&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="col-md-3"&gt;
            &lt;div class="py-35 border bg-size-cover bg-pos-center bg-rep-norep text-center rounded" style="background-image: url(https://images.unsplash.com/photo-1505740420928-5e560c06d30e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);"&gt;
              &lt;h3 class="text-white"&gt;Lorem, ipsum.&lt;/h3&gt;
              &lt;p class="text-white"&gt;Lorem ipsum dolor sit amet.&lt;/p&gt;
            &lt;/div&gt;
            &lt;div class="btn-group my-3 w-100"&gt;
              &lt;a href="#" class="btn btn-elegant btn-block btn-rounded-40 text-uppercase ls-2 text-bold"&gt;Button&lt;/a&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="col-md-3"&gt;
            &lt;div class="py-35 border bg-size-cover bg-pos-center bg-rep-norep text-center rounded" style="background-image: url(https://images.unsplash.com/photo-1523275335684-37898b6baf30?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);"&gt;
              &lt;h3 class="text-white"&gt;Lorem, ipsum.&lt;/h3&gt;
              &lt;p class="text-white"&gt;Lorem ipsum dolor sit amet.&lt;/p&gt;
            &lt;/div&gt;
            &lt;div class="btn-group my-3 w-100"&gt;
              &lt;a href="#" class="btn btn-elegant btn-block btn-rounded-40 text-uppercase ls-2 text-bold"&gt;Button&lt;/a&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="col-md-3"&gt;
            &lt;div class="py-35 border bg-size-cover bg-pos-center bg-rep-norep text-center rounded" style="background-image: url(https://images.unsplash.com/photo-1515955656352-a1fa3ffcd111?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);"&gt;
              &lt;h3 class="text-white"&gt;Lorem, ipsum.&lt;/h3&gt;
              &lt;p class="text-white"&gt;Lorem ipsum dolor sit amet.&lt;/p&gt;
            &lt;/div&gt;
            &lt;div class="btn-group my-3 w-100"&gt;
              &lt;a href="#" class="btn btn-elegant btn-block btn-rounded-40 text-uppercase ls-2 text-bold"&gt;Button&lt;/a&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/section&gt;</code></pre>
    <script src="js/highlight.pack.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('pre code').forEach((block) => {
          hljs.highlightBlock(block);
        });
      });
    </script>
  </body>
</html>